.header,
.footer {
	position:fixed;
	padding:10px 15px;
}
/* Header is always fixed on top of the page */
.header {
	height:50px;
	width:100%;
	top:0px;
	border-bottom:1px solid #d5d5d5;
	background-color:#ffffff;
	z-index:100;
}
.header .header-text {
	font-size:20px;
	font-family:inherit;
	font-weight:500;
	display:inline-block;
}
/* View container is the main content area */
.view-container {
	position:relative;
	width:100%;
	top:50px;
	padding-right:10px;
}
.weeks-table {
	width:100%;
	table-layout:fixed;
}
.weeks-table th {
	text-align:center;
	font-weight:normal;
}
.weeks-header {
	margin-top:10px;
}
/* Weeks header is fixed on top of the page after the header */
.weeks-header-wrapper {
	position:fixed;
	height:75px;
	top:50px;
	padding:10px;
	padding-bottom:0px;
	border-bottom:1px solid #d5d5d5;
	background-color:#ffffff;
	z-index:100;
}
.appointments-table td{
	height:759px;
	border-right:1px solid #d5d5d5;
}
/* Div to hold the appointments table */
.appointments-table-wrapper {
	position:relative;
	width:100%;
	height:760px;
	top:75px;
}
.timeslot {
	width:5%;
}
.hour-marker {
	border-top:1px solid #d5d5d5;
	height:31px;
	width:100%;
}
.hour-marker:last-child {
	border-bottom:1px solid #d5d5d5;
}
.hour-marker-wrapper {
	position:absolute;
	left:5%;
	top:15px;
	width: 95%;
}
.hour-text-wrapper {
	height:31px;
	position:relative;
}
.hour-text-wrapper:last-child {
	height:46px;
}
.hour-text {
	font-size:10px;
	right:5px;
	top:7px;
	position:absolute;
}
.halfhour-marker {
	border-bottom: 1px dotted #e5e5e5;
	height:15px;
	width:100%;
}
.appointment-wrapper {
	height:100%;
	width:100%;
	position:relative;
	top:15px;
}
.appointment-margin {
	position:relative;
	margin-right:10px;
}
.appointment {
	position:absolute;
	background-color:#9FCCEE;
	width:100%;
	padding:2px;
	border-left:2px solid #5577DD;
	margin-left:1px;
	font-size:10px;
}
