/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding: 0px 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.header .header-text {
  padding-bottom: 15px;
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  display: inline-block;
}
.week-table {
	width:100%;
}
.week-table th {
	text-align: center;
}
.timeslot {
	width:50px;
}
