<div>

	<div class="weeks-header-wrapper">
		<div class="col-xs-12">
			<form name="createApptForm" class="form-inline pull-right">
				<span class="error-msg">{{msg}}</span>
				<input type="date" class="form-control" placeholder="MM/dd/yyyy" name="apptStartDate"
					ng-model="startDate" required/>
					<!--  For now restrict duration max to 1 day -->
				<input type="number" class="form-control" placeholder="duration(mins)"
					ng-model="duration" min="1" max="1440" required/>
				<input type="text" class="form-control" placeholder="Description"
					ng-model="desc"/>
				<button type="submit" class="btn btn-primary btn-sm" ng-disabled="createApptForm.$invalid"
					ng-click="createAppointment()">Create Appointment</button>
			</form>
		</div>
		<!--  Header of the table (Shows the days in a week) -->
		<div class="col-xs-12">
			<table class="weeks-table weeks-header">
				<thead>
					<tr>
						<th class="timeslot"></th>
						<th ng-repeat="day in week">
							{{day.date | date : 'EEE M/d'}}
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="appointments-table-wrapper">
		<!-- To display grid lines -->
		<div class="hour-marker-wrapper">
			<div ng-repeat="time in day" class="hour-marker">
				<div class="halfhour-marker"></div>
			</div>
		</div>
		<table class="weeks-table appointments-table">
			<tbody>
				<tr>
					<td class="timeslot">
						<div class="hour-text-wrapper" ng-repeat="time in day">
							<div class="hour-text">{{time | date : 'h a'}}</div>
						</div>
					</td>
					<td ng-repeat="day in week">
  		 				<div class="appointment-wrapper">
  		 					<div class="appointment-margin">
  		 						<div ng-repeat="layer in day.layers">
	  		 						<div ng-repeat="appt in layer" class="appointment" 
	  		 							ng-style="{height:appt.height+'px', top:appt.yOffset+'px', 
	  		 							width:appt.width+'%', left:appt.xOffset+'%'}">
	  		 							{{appt.desc}} {{appt.startDate | date : 'h:mma' | lowercase}} 
	  		 						</div>
  		 						</div>
  		 					</div>
  		 					
  		 				</div>
  		 			</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
